.option {
    border-bottom: 1px solid lighten($light-blue, 10%);
    display: flex;
    justify-content: space-between;
    padding: $l-size $m-size;
}

.option__text {
    color: white;
    word-break: break-all;
}